.git
.github
.venv
venv
workenv
env
__pycache__
*.pyc
node_modules
staticfiles
media
media (2)
goods_images
*.sql
.cursor
CLAUDE.md
.env
!.env.docker.example
DEPLOY.md
appspec.yml
buildspec.yml
package-lock.json
tailwind.config.js
ystemctl status nginx.service
requirements.txt.
